<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>로그인</h1>
<hr>
<form>
    아이디 <input type="text" id="username" name="username"><br>
    비밀번호 <input type="password" id="password" name="password"><br>
    <button type="button" onclick="login()">로그인</button>
</form>

<script>
    function login() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        fetch('/login/loginReg', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ username, password })
        })
        .then(res => {
            if(res.status === 200) return res.json();
            else throw new Error('401');
        })
        .then(data => {
            if (data.role === 'DOCTOR') {
                location.href = '/doc/qnaList';
            } else {
                location.href = '/member/main';
            }
        })
        .catch(() => {
            alert('아이디 또는 비밀번호를 확인하세요');
        });
    }
</script>

</body>
</html>