<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Reply Form</title>
</head>
<body>
<h1>답변</h1>
<hr>

<table>
    <tbody>
        <tr>
            <td>작성일: </td>
        </tr>
        <tr>
            <td>작성자: </td>
        </tr>
        <tr>
            <td>제목 : </td>
        </tr>
        <tr>
            <td>문의 내용</td>
        </tr>
    </tbody>
</table>
<hr>
<form action="/doc/regProc" method="post">
    답변<br>
    <textarea>답변을 입력하세요</textarea>
</form>
</body>
</html>